## Import Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Import Data

In [15]:
df = pd.read_excel('../Analyzing Amazon Sales data_Project_iNeuron/SALESDATA.xlsx')

In [16]:
df.head()

,CustKey,DateKey,Discount Amount,Invoice Date,Invoice Number,Item Class,Item Number,Item,Line Number,List Price,Order Number,Promised Delivery Date,Sales Amount,Sales Amount Based on List Price,Sales Cost Amount,Sales Margin Amount,Sales Price,Sales Quantity,Sales Rep,U/M
0,10000481,2017-04-30,-237.91,2017-04-30,100012,NaN,NaN,Urban Large Eggs,2000,0.00,200015,2017-04-30,237.91,0.00,0.0,237.91,237.910000,1,184,EA
1,10002220,2017-07-14,368.79,2017-07-14,100233,P01,20910,Moms Sliced Turkey,1000,824.96,200245,2017-07-14,456.17,824.96,0.0,456.17,456.170000,1,127,EA
2,10002220,2017-10-17,109.73,2017-10-17,116165,P01,38076,Cutting Edge Foot-Long Hot Dogs,1000,548.66,213157,2017-10-16,438.93,548.66,0.0,438.93,438.930000,1,127,EA
3,10002489,2017-06-03,-211.75,2017-06-03,100096,NaN,NaN,Kiwi Lox,1000,0.00,200107,2017-06-03,211.75,0.00,0.0,211.75,211.750000,1,160,EA
4,10004516,2017-05-27,96627.94,2017-05-27,103341,P01,60776,High Top Sweet Onion,1000,408.52,203785,2017-05-28,89248.66,185876.60,0.0,89248.66,196.150901,455,124,SE

## Understanding the data

In [17]:
df.shape

(65282, 20)

In [19]:
df.columns

Index(['CustKey', 'DateKey', 'Discount Amount', 'Invoice Date',
       'Invoice Number', 'Item Class', 'Item Number', 'Item', 'Line Number',
       'List Price', 'Order Number', 'Promised Delivery Date', 'Sales Amount',
       'Sales Amount Based on List Price', 'Sales Cost Amount',
       'Sales Margin Amount', 'Sales Price', 'Sales Quantity', 'Sales Rep',
       'U/M'],
      dtype='object')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65282 entries, 0 to 65281
Data columns (total 20 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CustKey                           65282 non-null  int64
 1   DateKey                           65282 non-null  datetime64[ns]
 2   Discount Amount                   65280 non-null  float64
 3   Invoice Date                      65282 non-null  datetime64[ns]
 4   Invoice Number                    65282 non-null  int64
 5   Item Class                        56993 non-null  object
 6   Item Number                       65241 non-null  object
 7   Item                              65282 non-null  object
 8   Line Number                       65282 non-null  int64
 9   List Price                        65282 non-null  float64
 10  Order Number                      65282 non-null  int64
 11  Promised Delivery Date            65282 non-null  datetime64[ns]
 12  Sales Amount                      65282 non-null  float64
 13  Sales Amount Based on List Price  65282 non-null  float64
 14  Sales Cost Amount                 65282 non-null  float64
 15  Sales Margin Amount               65282 non-null  float64
 16  Sales Price                       65281 non-null  float64
 17  Sales Quantity                    65282 non-null  int64
 18  Sales Rep                         65282 non-null  int64
 19  U/M                               65282 non-null  object
dtypes: datetime64[ns](3), float64(7), int64(6), object(4)
memory usage: 10.0+ MB

In [21]:
df.describe()

,CustKey,Discount Amount,Invoice Number,Line Number,List Price,Order Number,Sales Amount,Sales Amount Based on List Price,Sales Cost Amount,Sales Margin Amount,Sales Price,Sales Quantity,Sales Rep
count,6.528200e+04,65280.000000,65282.000000,65282.000000,65282.000000,65282.000000,65282.000000,65282.000000,65282.000000,65282.000000,65281.000000,65282.000000,65282.000000
mean,1.001770e+07,1855.574835,216223.662020,23713.849790,514.693380,180583.064352,2852.038373,4707.473613,1660.979228,1191.059145,283.615913,45.084311,137.422398
std,7.176148e+03,9037.140888,94992.281866,32664.024053,449.189182,67593.871116,15164.342107,20696.443785,9556.485250,5860.787502,252.876719,429.661793,26.643936
min,1.000045e+07,-255820.800000,100012.000000,1000.000000,0.000000,100838.000000,200.010000,0.000000,0.000000,-3932.930000,-5000.000000,-1.000000,103.000000
25%,1.001272e+07,246.037500,117931.000000,3000.000000,181.560000,115321.000000,308.387500,561.040000,167.790000,129.950000,100.070000,2.000000,113.000000
50%,1.001966e+07,441.760000,222869.500000,12000.000000,325.190000,203702.000000,553.940000,998.160000,304.500000,246.490000,183.757500,3.000000,134.000000
75%,1.002351e+07,999.760000,314318.750000,32000.000000,803.860000,218576.000000,1280.042500,2315.040000,687.320000,579.530000,448.220000,8.000000,160.000000
max,1.002758e+07,343532.660000,332842.000000,344000.000000,2760.700000,321532.000000,555376.000000,632610.160000,366576.000000,188800.000000,6035.000000,16000.000000,185.000000

## Data Cleaning

In [22]:
df.isna().sum()

CustKey                                0
DateKey                                0
Discount Amount                        2
Invoice Date                           0
Invoice Number                         0
Item Class                          8289
Item Number                           41
Item                                   0
Line Number                            0
List Price                             0
Order Number                           0
Promised Delivery Date                 0
Sales Amount                           0
Sales Amount Based on List Price       0
Sales Cost Amount                      0
Sales Margin Amount                    0
Sales Price                            1
Sales Quantity                         0
Sales Rep                              0
U/M                                    0
dtype: int64

#Columns Item Class,Item Number,Sales Price,Discount Amount have null values

In [23]:
df.isna().sum()/len(df)*100

CustKey                              0.000000
DateKey                              0.000000
Discount Amount                      0.003064
Invoice Date                         0.000000
Invoice Number                       0.000000
Item Class                          12.697221
Item Number                          0.062804
Item                                 0.000000
Line Number                          0.000000
List Price                           0.000000
Order Number                         0.000000
Promised Delivery Date               0.000000
Sales Amount                         0.000000
Sales Amount Based on List Price     0.000000
Sales Cost Amount                    0.000000
Sales Margin Amount                  0.000000
Sales Price                          0.001532
Sales Quantity                       0.000000
Sales Rep                            0.000000
U/M                                  0.000000
dtype: float64

#The null value percentage is higher in Item class column compared to other columns

In [25]:
df['Item Class'].value_counts()

P01    56977
PO1       16
Name: Item Class, dtype: int64

#We will substitute Null values in 'Item Class' column with most common value i.e. P01.

In [26]:
df['Item Class'].fillna(df['Item Class'].mode()[0], inplace=True)

In [27]:
df['Item Class'].isna().sum()

0

#The remaining null values are less than 0.1% of the total dataset hence we will drop them

In [29]:
df = df.dropna()

In [30]:
df.head()

,CustKey,DateKey,Discount Amount,Invoice Date,Invoice Number,Item Class,Item Number,Item,Line Number,List Price,Order Number,Promised Delivery Date,Sales Amount,Sales Amount Based on List Price,Sales Cost Amount,Sales Margin Amount,Sales Price,Sales Quantity,Sales Rep,U/M
1,10002220,2017-07-14,368.790,2017-07-14,100233,P01,20910,Moms Sliced Turkey,1000,824.960,200245,2017-07-14,456.17,824.960,0.0,456.17,456.170000,1,127,EA
2,10002220,2017-10-17,109.730,2017-10-17,116165,P01,38076,Cutting Edge Foot-Long Hot Dogs,1000,548.660,213157,2017-10-16,438.93,548.660,0.0,438.93,438.930000,1,127,EA
4,10004516,2017-05-27,96627.940,2017-05-27,103341,P01,60776,High Top Sweet Onion,1000,408.520,203785,2017-05-28,89248.66,185876.600,0.0,89248.66,196.150901,455,124,SE
6,10007866,2017-09-03,371.014,2017-09-03,100403,P01,20910,Moms Sliced Turkey,2000,795.314,200436,2017-09-03,424.30,795.314,0.0,424.30,424.300000,1,149,EA
7,10009356,2017-06-18,608.080,2017-06-18,105481,P01,62550,Tell Tale Garlic,29000,575.000,205213,2017-06-18,541.92,1150.000,0.0,541.92,270.960000,2,103,EA

In [31]:
df.count()

CustKey                             65241
DateKey                             65241
Discount Amount                     65241
Invoice Date                        65241
Invoice Number                      65241
Item Class                          65241
Item Number                         65241
Item                                65241
Line Number                         65241
List Price                          65241
Order Number                        65241
Promised Delivery Date              65241
Sales Amount                        65241
Sales Amount Based on List Price    65241
Sales Cost Amount                   65241
Sales Margin Amount                 65241
Sales Price                         65241
Sales Quantity                      65241
Sales Rep                           65241
U/M                                 65241
dtype: int64

In [32]:
df.isna().sum()

CustKey                             0
DateKey                             0
Discount Amount                     0
Invoice Date                        0
Invoice Number                      0
Item Class                          0
Item Number                         0
Item                                0
Line Number                         0
List Price                          0
Order Number                        0
Promised Delivery Date              0
Sales Amount                        0
Sales Amount Based on List Price    0
Sales Cost Amount                   0
Sales Margin Amount                 0
Sales Price                         0
Sales Quantity                      0
Sales Rep                           0
U/M                                 0
dtype: int64

In [34]:
df.duplicated().sum()

0

## Exporting the Clear Data File

In [35]:
df.to_csv('Amazon Cleaned Sales Data.csv')